{% extends "index.html" %}

{% block content %}
    <div class="card-header">
        <h5 class="card-title">Unsuccessful unit tests</h5>
        <h6 class="card-subtitle text-muted">
            Following is a list of github repositories that encountered some issue while running the unit tests. 
            You can download the console log for any of these repositories to inspect the console output of
            "maven test" command in further detail. 
        </h6>
    </div>
    <div class="card">
        <div class="card-body">
                <table class="table" style="table-layout: fixed;">
                    <thead>
                    <tr>
                        <th style="width:30%;">Repository</th>
                        <th style="width:40%">Link</th>
                        <th style="width:30%; justify-content: right; text-align: right; align-items: right;">Report Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in repo_info %}
                        <tr>
                            <td style="word-wrap: break-word;">{{ item["repo"] }}</td>
                            <td style="word-wrap: break-word;">{{ item["link"] }}</td>
                            <td style="word-wrap: break-word; justify-content: right; text-align: right; align-items: right;">
                                <a href={{ url_for("download_report" , record_id = item['_id']) }}>Download Report</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </div>
{% endblock %}
