<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% if refresh %}
    <meta http-equiv="refresh" content="15">
    {% endif %}

    <title>Unit Tester 1.0</title>

    <link rel="canonical" href="https://appstack.bootlab.io/pages-blank.html" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='dist/css/light.css') }}" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

    <!-- js files for datatables -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.2/js/dataTables.bootstrap5.min.js"></script>
</head>

<body data-theme="light" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
    <div class="wrapper">
        <nav id="sidebar" class="sidebar">
            <div class="sidebar-content js-simplebar">
                <ul class="sidebar-nav">
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/">
                            <i class="align-middle" data-feather="home"></i>
                            <span class="align-middle">Home</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/summary">
                            <i class="align-middle" data-feather="list"></i>
                            <span class="align-middle">Tasks Status</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/git-repos">
                            <i class="align-middle" data-feather="github"></i>
                            <span class="align-middle">GitHub Repos</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/unittests">
                            <i class="align-middle" data-feather="clock"></i>
                            <span class="align-middle">Unittest Status</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/failures">
                            <i class="align-middle" data-feather="x-octagon"></i>
                            <span class="align-middle">Failures</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/status">
                            <i class="align-middle" data-feather="cpu"></i>
                            <span class="align-middle">Cluster Status</span>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
        <div class="main">
            <main class="content">
                <div class="container-fluid p-0">
                    <h1 class="h3 mb-3"></h1>
                    <div class="row">
                        <div class="col-12">
                        {% if message %}
                            {% if message_type == 'WARNING' %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                            {% elif message_type == 'SUCCESS' %}
                            <div class="alert alert-success alert-dismissible" role="alert">
                            {% else %}
                            <div class="alert alert-info alert-dismissible" role="alert">
                            {% endif %}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                                <div class="alert-icon">
                                    <i class="far fa-fw fa-bell"></i>
                                </div>
                                <div class="alert-message">
                                    {{ message | safe }}
                                </div>
                            </div>
                        {% endif %}
                        {% block content %}    
                        {% if not refresh and not seed and not show_plot and not network_plot %}
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Welcome to Unit tester 1.0</h5>
                                    <p> Use this website to view unit testing statistics.</p>
                                </div>
                            </div>
                        {% endif %}
                        {% endblock %}
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="{{ url_for('static', filename='dist/js/app.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='dist/js/plot.js') }}"></script> -->
</body>

</html>