{% extends "index.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h1>Summary</h1>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
            <tr>
                <th style="width:30%; justify-content: left; text-align: left; align-items: left;"># of Cluster Nodes</th>
                <th>:</th>
                <td style="width:65%; justify-content: left; text-align: left; align-items: left;">{{ summary["n_nodes"] }}</td>
            </tr>
            <tr>
                <th style="width:30%; justify-content: left; text-align: left; align-items: left;"># of Swarm Managers</th>
                <th>:</th>
                <td style="width:65%; justify-content: left; text-align: left; align-items: left;">{{ summary["managers"] }}</td>
            </tr>
            <tr>
                <th style="width:30%; justify-content: left; text-align: left; align-items: left;"># of Swarm Workers</th>
                <th>:</th>
                <td style="width:65%; justify-content: left; text-align: left; align-items: left;">{{ summary["workers"] }}</td>
            </tr>
            <tr>
                <th style="width:30%; justify-content: left; text-align: left; align-items: left;">Swarm Manager Token</th>
                <th>:</th>
                <td style="width:65%; justify-content: left; text-align: left; align-items: left;">{{ summary["manager_token"] }}</td>
            </tr>
            <tr>
                <th style="width:30%; justify-content: left; text-align: left; align-items: left;">Swarm Worker Token</th>
                <th>:</th>
                <td style="width:65%; justify-content: left; text-align: left; align-items: left;">{{ summary["worker_token"] }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <h1>Swarm Nodes</h1>
    </div>
    <div class="card-body">
        {% for item in node_info %}
        <div class="card">
            <div class="card-header">
                <table style="width: 100%; table-layout: fixed;">
                    <tr>
                        <td style="width: 100%;">
                            <table class="table" style="width: 98%; table-layout: fixed;">
                                <tr>
                                    <th style="width: 15%; text-align: left; vertical-align: middle;"><h4>{{ item["role"] }}</h4></th>
                                    <th style="width: 30%; text-align: left; vertical-align: middle;"><h4>{{ item["name"] }}</h4></th>
                                    <th style="width: 20%; text-align: left; vertical-align: middle;"><h4>{{ item["addr"] }}</h4></th>
                                    {% if item["availability"] == 'ACTIVE' %}
                                    <th style="width:  20px; justify-content: center; text-align: center; align-items: center; vertical-align: top;"><div id="bulb-{{ loop.index0 }}" class="bulb bulb-active"></div></th>
                                    {% elif item["availability"] == 'DRAIN' %}
                                    <th style="width:  20px; justify-content: center; text-align: center; align-items: center; vertical-align: top;"><div id="bulb-{{ loop.index0 }}" class="bulb bulb-drain"></div></th>
                                    {% else %}
                                    <th style="width:  20px; justify-content: center; text-align: center; align-items: center; vertical-align: top;"><div id="bulb-{{ loop.index0 }}" class="bulb"></div></th>
                                    {% endif %}
                                    <th style="width: 15%; text-align: right; vertical-align: middle;"><h4>{{ item["availability"] }}</h4></th>
                                    <th style="width: 20%; text-align: right; vertical-align: middle;"><h4>{{ item["n_containers"] }} containers</h4></th>
                                </tr>
                            </table>            
                        </td>
                        <td style="width: 4%; text-align: center; align-items: center;"><button id="button-{{ loop.index0 }}" class="expandable" onclick="toggle_display(this.id);" ><i data-feather="plus" style="display: block;"></i><i data-feather="minus" style="display: none;"></i></button></td>
                    </tr>
                </table>
            </div>
            <div id="body-{{ loop.index0 }}" class="card-body" style="display:none">
                <table class="table" style="table-layout: fixed;">
                    <thead>
                    <tr>
                        <th style="width: 25%;">Container Name</th>
                        <th style="width: 25%;">Container Image</th>
                        <th style="width: 25%;">Container Status</th>
                        <th style="width: 25%;">Error</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for container in item["containers"] %}
                        <tr>
                            <td style="word-wrap: break-word;">{{ container["name"] }}</td>
                            <td style="word-wrap: break-word;">{{ container["image"] }}</td>
                            <td style="word-wrap: break-word;">{{ container["status"] }}</td>
                            <td style="word-wrap: break-word;">{{ container["error"] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}        
    </div>
</div>
<script>
    function toggle_display(btn_id) {
        const idArray = btn_id.split("-");
        var btn = document.getElementById(btn_id);
        var body = document.getElementById("body-" + idArray[1]);
        var item = $(btn).find('svg');

        if (body.style.display === "none") {
            body.style.display = "block";
            item[0].style.display = "none";
            item[1].style.display = "block";
        }
        else {
            body.style.display = "none";
            item[0].style.display = "block";
            item[1].style.display = "none";
        }
    };
</script>
<style>
    .bulb {
        height: 15px;
        width: 15px;
        margin: 0px;
        padding-top: 2px;
        border-radius: 50%;
        transition: background 500ms;
        background-color: #1111117d;
    }
    .bulb-active {
        background-color: green;
    }
    .bulb-drain {
        background-color: red;
    }
    /* .bulb-active {
        height: 15px;
        width: 15px;
        background-color: green;
        border-radius: 50%;
        margin: 0px;
        transition: background 500ms;
    }
    .bulb-drain {
        height: 15px;
        width: 15px;
        background-color: red;
        border-radius: 50%;
        margin: 0px;
        transition: background 500ms;
    } */
    .expandable {
        height: 35px;
        width: 35px;
        background-color: #11111110;
        border-radius: 25%;
        margin: 5px;
    }
</style>
{% endblock %}
