{% extends "index.html" %}

{% block content %}
    <div class="card-header">
        <h5 class="card-title">Tasks Summary</h5>
        <h6 class="card-subtitle text-muted">
            Following is a brief summary of current status of the application.
        </h6>
    </div>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <tbody>
                <tr>
                    <th style="width:25%; justify-content: left; text-align: left; align-items: left;">Currently in Queue</th>
                    <th>:</th>
                    <td style="width:25%; justify-content: left; text-align: left; align-items: left;">{{ summary["queue_len"] }}</td>
                </tr>
                <tr>
                    <th style="width:25%; justify-content: left; text-align: left; align-items: left;">Successfully Processed</th>
                    <th>:</th>
                    <td style="width:25%; justify-content: left; text-align: left; align-items: left;">{{ summary["n_success"] }}</td>
                </tr>
                <tr>
                    <th style="width:25%; justify-content: left; text-align: left; align-items: left;">Failed to Process</th>
                    <th>:</th>
                    <td style="width:25%; justify-content: left; text-align: left; align-items: left;">{{ summary["n_failure"] }}</td>
                </tr>
                <tr>
                    <th style="width:25%; justify-content: left; text-align: left; align-items: left;">Currently Processing</th>
                    <th>:</th>
                    <td style="width:25%; justify-content: left; text-align: left; align-items: left;">{{ summary["n_process"] }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
